<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Exercise Tracker</title>
<link rel="stylesheets" href="{{ url_for('static', filename='css/newStyles.css')}}"
</head>
<body>
	<form action="{{ url_for('deleteGoals') }}" method="POST">
		<table align="center" action="{{ url_for('deleteGoals') }}" class="log_display">
			<thead style="text-align: center" class="table-header">
				<tr>
					<th>Description</th>
					<th>Type of Goal</th>
					<th>Distance</th>
					<th>Time</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for goals in user_goals %}
				<tr>
					<td>{{ goal.notes }}</td>
					<td>{{ goal.activity_type }}</td>
					<td>{{ goal.distance }}</td>
					<td>{{ goal.duration }}</td>
					<td><button type="submit" name="activity_id" value="{{ goal.id }}">Delete</button></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
	<a href="{{ url_for('goals') }}">Return to Goals page</a>
</body>
</html>
